<!DOCTYPE html>
<html>
    
    <head>
        <title>
            title
        </title>

        <link rel="stylesheet" type="text/css" href="../static/base.css">

    </head>

    <body>
        <a href="/">
            <h1 id="header"> ENERGY MANAGEMENT SYSTEM</h1>
        </a>
        
        <div id="top-nav-bar">
            <a href="/readme" class="top-nav-bar-button" id="top-nav-bar-readme">README</a>
            <a href="/data" class="top-nav-bar-button" id="top-nav-bar-data">DATA</a>
            <a href="/operations" class="top-nav-bar-button">OPERATIONS</a>
            <a href="/grid" class="top-nav-bar-button">GRID</a>
            <div class="top-nav-dropdown-button" id="buses-dropdown">
                <p class="top-nav-bar-button">BUSES</p>
                <div class="top-nav-dropdown-content" id="buses-dropdown-content">
                    <!-- <a href="#">ok</a> -->
                    {% for bus in buses %}
                        <a href="/">{{bus.name}}</a>
                    {% endfor %}                                    
                </div>
            </div>
        </div>

        {% block readmeblock %}{% endblock %}
        {% block homeblock %}{% endblock %}
        {% block datablock %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'base.js') }}"></script>
        
    </body>

</html>