{% extends "base.html" %}

{% block datablock %}
<link rel="stylesheet" type="text/css" href="../static/data.css">

<h1>Input Data</h1>

<form action="" method="post" novalidate>
    <div class="input-label-entry">
        <p class="label">.p file path:</p>
        <p><input type="text" name="p_path_input" /></p>
        
    </div>

    <div class="input-label-entry">
        <p class="label">.q file path:</p>
        <p><input type="text" name="q_path_input" /></p>
        
    </div>

    <div class="input-label-entry">
        <p class="label">.pij file path:</p>
        <p><input type="text" name="pij_path_input" /></p>
        
    </div>

    <div class="input-label-entry">
        <p class="label">.qij file path:</p>
        <p><input type="text" name="qij_path_input" /></p>
        
    </div>
    
    <div id="submit-label-button">
        <p id="submit-label">Click to proceed:</p> 
        <p id="submit-button"><input type="submit" value="submit" /></p>
    </div>
    
</form>

{% endblock %}