{% extends "base.html" %}

{% block homeblock %}
    <link rel="stylesheet" type="text/css" href="../static/operations.css">

    <div class="list-element">
        <h2 class="list-element-head">
            <a href="/state_estimation">State Estimation</a>
        </h2>
        <p class="list-element-content">Describe state esti and whatever a bit</p>
    </div>
    
    <div class="list-element">
        <h2 class="list-element-head">
            <a href="/bad_data_detection">Bad Data Detection</a>
        </h2>
        <p class="list-element-content">Describe state esti and whatever a bit</p>
    </div>
    
    <div class="list-element">
        <h2 class="list-element-head">
            <a href="/economic_dispatch">Economic Dispatch</a>
        </h2>
        <p class="list-element-content">Describe state esti and whatever a bit</p>
    </div>
    
    <div class="list-element">
        <h2 class="list-element-head">
            <a href="/contingency_analysis">Contingency Analysis</a>
        </h2>
        <p class="list-element-content">Describe state esti and whatever a bit</p>
    </div>

{% endblock %}